<template>
  <UserRepositories :user="Diana"></UserRepositories>
</template>

<script>
import UserRepositories from "./components/UserRepositories";

export default {
  name: "App",
  components: {
    UserRepositories,
  },
};
</script>
