<template>
  <div>
    <p>Lorem ipsum dolor</p>
    <span>{{ text }}</span>
  </div>
</template>

<script>
  export default {
    data() {
      return {
      text: 'Hello World'
      };
    }
  };
</script>

<style>
  p {
    color: red;
  }
</style>