<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue</title>
</head>
<body>
  <script src="https://unpkg.com/vue@next"></script>
  <div id="app">{{ text }}</div>
  <script>
    const vm = Vue.createApp({
      data() {
        return {
          text: "Hola Vue"
        }
      }
    }).mount("#app");

    console.log(vm)
  </script>
</body>
</html>