<script setup>
import { ref } from 'vue';
import { useRoute } from 'vue-router';

const username = ref();
const router = useRoute();

function iniciar() {
  router.push({ name: 'about' })
}
</script>

<template>
  <main>
    <h2>Introduce tu nombre de usuario</h2>
    <input placeholder="username" v-model="username" />
    <button @click="iniciar">Iniciar sesion</button>
  </main>
</template>

