<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <script src="https://unpkg.com/vue@next"></script>
  <div id="app"></div>

  <script>
    const app = Vue.createApp({
      data() {
        return {
          items: ["Uno", "Dos", "Tres", "Cuatro"]
        }
      },
      methods:{
        remove(i) {
          console.log(i)
          const items = this.items.filter((el, index) => index !== i);
          console.log(items)
          this.items = items;
        }
      },
      template:`
        <ul>
          <v-item 
            v-for="(item, i) in items" 
            v-bind:text="item"
            v-on:remove="remove(i)"
          />
        </ul>
      `
    });

    app.component("v-item", {
      props: {
        text: String
      },
      methods: {
        rm() {
          this.$emit("remove")
        }
      },
      template: `<li v-on:click="rm">{{ text }}</li>`
    });

    const vm = app.mount("#app");
  </script>
</body>
</html>