<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <script src="https://unpkg.com/vue@next"></script>
  <div id="app"></div>

  <script>
    const app = Vue.createApp({
      data() {
        return {
          text: "Hola Vue"
        }
      },
      provide() {
        return {
          otroTexto: this.text
        }
      },
      template: `
        <div>{{ text }}</div>
        <otro />
      `
    });


    app.component("otro", {
      template: `<tercer />`
    });

    app.component("tercer", {
      inject: {
        otroTexto: {
          from: "otroTexto",
        }
      },
      template: `<div>{{ otroTexto }}</div>`
    });

    const vm = app.mount("#app")
  </script>
</body>
</html>