<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <script src="https://unpkg.com/vue@next"></script>
  <div id="app"></div>

  <script>
    const app = Vue.createApp({
      data() {
        return {
          items: ["Uno", "Dos", "Tres", "Cuatro",,]
        }
      },
      template:`
        <ul>
          <v-item v-for="item in items" v-bind:text="item"></v-item>
        </ul>
      `
    });

    app.component("v-item", {
      props: {
        text: {
          default: "Texto Vacio"
        }
      },
      template: `<li>{{ text }}</li>`
    });

    const vm = app.mount("#app");
  </script>
</body>
</html>