<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <script src="https://unpkg.com/vue@next"></script>
  <div id="app"></div>
  <script>
    const app = Vue.createApp({
      data() {
          return {
            text: "Hola Vue"
          } ;
      },
      template: `
        <div>
          <p>{{ text }}</p>
          <v-input 
            v-model:value="text" 
          />
        </div>
      `
    });

    app.component("v-input", {
      props: {
        value: String
      },
      methods: {
        input(e) {
          this.$emit("update:value", e.target.value)
          console.log(e.target.value)
        }
      },
      template: `
        <input 
          type="text" 
          v-bind:value="value" 
          v-on:input="input" 
        />`
    });
    
    const vm = app.mount("#app")
  </script>
</body>
</html>