<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <p>{{ text }}</p>
        <button @click="open=!open">{{ label }}</button>
    </div>
    
    <script src="https://unpkg.com/vue@next"></script>

    <script>
        const vm = Vue.createApp( {
            data() {
              return {
                text: "Puerta cerrada",
                open: false,
              };
            },
            watch: {
              open(value) {
                if (value) {
                  this.text = "puerta abierta";
                } else {
                  this.text = "Puerta cerrada";
                }
              }
            },
            computed: {
              label() {
                return this.open ? "Cerrar" : "Abrir";
              }, 
              styles() {
                return this.open ? ['open'] : ['closed'];
              }
            },
            template: `
              <div class="container" :class="styles">
                <h2>{{ text }}</h2>
                <button @click="open = !open">{{ label }}</button>
              </div>
            `
        }).mount("#app");
    </script>
    <style>
      html, body {
          height: 100vh;
          margin: 0;
          font-family: Arial, Helvetica, sans-serif;
      }
      #app, .container {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          width: 100%;
          height: 100%;
      }
      button {
          margin-top: 24px;
          border: none;
          background-color: white;
          padding: 8px 24px;
          border-radius: 12px;
      }
      .closed {
          background-color: #eca1a6;
      }
      .open {
          background-color: #b5e7a0;
      }
  </style>
</body>
</html>