<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Vue</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>
    <script src="https://unpkg.com/vue@next"></script>
    <div id="app"></div>

    <script>
      const mv = Vue.createApp({
        data() {
          return {
            counter: 0
          };
        },
        methods: {
          submit() {
            this.counter++
          }
          // increment() {
          //   this.counter++;
          // }
          // submit(e) {
          //   // console.log(e);
          //   e.preventDefault();
          //   console.log("Hello")
          // }
        },
        // event buttons
        // template: `<button v-on:click="increment">{{ counter }}</button>`
        // template: `<button v-on:keyup="increment">{{ counter }}</button>`
        template: `<form v-on:submit.prevent.stop="submit"><button>{{ counter }}</button></form>`
      }).mount('#app')
    </script>
  </body>
</html>
