<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Vue</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>
    <script src="https://unpkg.com/vue@next"></script>
    <div id="app"></div>

    <script>
      const mv = Vue.createApp({
        data() {
          return {
            firstName: 'Diana',
            lastName: 'Martinez',
            now: new Date(),
          };
        },
        computed: {
          fullName() {
            return this.firstName + " " + this.lastName + " " + this.now.toLocaleDateString();
          },
          today() {
            return this.now.toLocaleDateString();
          }
        },
        template: `
          <div>{{ fullName }}</div>
          <div>{{ today }}</div>
        `
      }).mount('#app')
    </script>
  </body>
</html>
