<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Vue</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>
    <script src="https://unpkg.com/vue@next"></script>
    <div id="app"></div>

    <script>
      const mv = Vue.createApp({
        data() {
          return {
            text: "Hola Vue"
          };
        },
        template: `
          <p>{{ text }}</p>
          <input 
            type="text" 
            v-model="text"
          />
        `
      }).mount('#app')
    </script>
  </body>
</html>
