<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <p>{{ text }}</p>
        <button @click="open=!open">{{ label }}</button>
    </div>
    
    <script src="https://unpkg.com/vue@next"></script>

    <script>
        const vm = Vue.createApp( {
            data() {
              return {
                text: "Puerta cerrada",
                open: false
              };
            },
            watch: {
              text(value) {
                if (value) {
                  this.text = "puerta abierta";
                } else {
                  this.text = "Puerta cerrada";
                }
              }
            },
            computed: {
              label() {
                return this.open ? "Cerrar" : "Abrir";
              }
            },
            template: `
              <div>{{ text }}</div>
              <button @click="open = !open">{{ label }}</button>
            `
        }).mount("#app");
    </script>

</body>
</html>