<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Curso Basico de Vue.js | Platzi</title>
  <link rel="stylesheet" href="./styles.css">
</head>
<body>
  <!-- <div id="app" v-bind:style="{ background: '#' + color }"> -->
    <!-- <coin-detail -->
      <!-- v-on:change-color="updateColor" -->
      <!-- v-bind:coin="btc"> -->


      <!-- <template v-slot:text> -->
        <!-- <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit, aperiam? Non dignissimos nam, voluptatem ducimus eos, pariatur dolor quisquam at asperiores praesentium molestias recusandae cum inventore, omnis consequatur? Voluptate, quo?</p> -->
      <!-- </template> -->

      <!-- <template v-slot:link> -->
        <!-- <a href="#">Link!</a> -->
      <!-- </template> -->
    <!-- </coin-detail> -->

  <!-- </div> -->

  <div id="app" v-bind:style="{ background: '#' + color }">

    
    <coin-detail 
    v-on:change-color="updateColor"
    v-bind:coin="btc">
    <template v-slot:text>
      <p><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, fuga. Minus earum odio consequuntur repudiandae ipsam et, nobis dignissimos modi inventore perspiciatis, suscipit doloremque quia explicabo? Laboriosam aspernatur odit sint.</span></p>
    </template>

    <template v-slot:link>
      <a href="#">link!</a>
    </template>
  </coin-detail>
    <!-- v-bind:img="img"
    v-bind:name="name"
    v-bind:title="title"
    v-bind:price="price"
    v-bind:changePercent="changePercent" -->


    <!-- <ul>
      <li v-for="(p, i) in prices" v-bind:key="p">
        {{ i }} - {{ p }}
      </li>
    </ul> -->
  </div>


  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="app.js"></script>
</body>
</html>
